
.nav-link {
  color: gray;
}

.nav-link.active {
  color: #0d6efd;
}

.footerFinal p {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    margin-bottom: 4px;
}
